body {
    background-color: #323437;
    color: #e2b714;
    font-family: "Roboto Mono", "Roboto Mono", "Vazirmatn", monospace;
    margin: 0;
}

.chart-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30rem;
    overflow: hidden;
}

.chart-wrapper {
    flex: 1;
    height: 100%;
    position: relative;
}

.chart-wrapper canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.force-meters {
    width: 25%;
    min-width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
    box-sizing: border-box;
}

.force-meters div {
    border: solid #e2b714 2px;
    padding-left: 5px;
    padding-right: 5px;
}

.buttons button {
    background-color: #646669;
    color: #323437;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.buttons button:hover {
    color: #e2b714;
}